<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <!-- Flatpickr -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
           
         <title>店舗詳細</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol th:if="${topicPath} == home" class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                 </ol>
                                 <ol th:if="${topicPath} == detail" class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/searchDetail}">店舗詳細検索</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-4 text-center" th:text="${storeInformation.getStoreName()}"></h1>                                                           
                             
                             <div th:if="${errorMessage}" class="alert alert-danger">
                                 <span th:text="${errorMessage}"></span>
                             </div>                                                                         
                             
                             <div class="mb-4">
                                 <img th:if="${storeInformation.getImageName()}" th:src="@{/storage/__${storeInformation.getImageName()}__}" class="w-100" alt="店舗画像">
                                 <img th:unless="${storeInformation.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                             </div> 
                             
                             <div class="container">  
                                 <div class="row">
                                     <div class="col-lg-8 container mb-4">            
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">店舗名</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getStoreName()}"></span>
                                             </div>
                                         </div>                    
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">説明</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span class="nagoyameshi-pre-wrap" th:text="${storeInformation.getRemarks()}"></span>
                                             </div>
                                         </div>
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">料金</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${#numbers.formatInteger(storeInformation.getPriceLowerLimit(), 1, 'COMMA') + '～' + #numbers.formatInteger(storeInformation.getPriceUpperLimit(), 1, 'COMMA') + '円'}"></span>
                                             </div>
                                         </div>                                
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">営業時間</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getBusinessHoursOpen() + ':00' + ' ～ ' + storeInformation.getBusinessHoursClose() + ':00'}"></span>
                                             </div>
                                         </div>  
                                         
                                   		 <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">定休日</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getRegularHoliday()}"></span>
                                             </div>
                                         </div> 
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">郵便番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getPostalCode()}"></span>
                                             </div>
                                         </div>   
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">住所</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getAddress()}"></span>
                                             </div>
                                         </div>   
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">電話番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${storeInformation.getPhoneNumber()}"></span>
                                             </div>
                                         </div>                                
                                     </div>
                                     
                                     <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                         <div class="card">
                                             <div class="card-body">                                                                                                                                                                                                                     
                                                 <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                                 <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>                                                                                                                
                                             </div>
                                         </div>  
                                     </div> 

                                     <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                         <div class="card">
                                             <div class="card-body"> 
                                                 <form method="get" th:action="@{/searchDetail/__${storeInformation.getStoreId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                     <div class="form-group mb-2">                                            
                                                         <label for="reservationDate" class="col-form-label text-md-left fw-bold">予約日</label>    
                                                         <div th:if="${#fields.hasErrors('reservationDate')}" class="text-danger small mb-2" th:errors="*{reservationDate}"></div>                                          
                                                         <input type="text" class="form-control" th:field="*{reservationDate}">                                                                     
                                                     </div>
                                                     
                                                     <div class="form-group mb-4">                                            
                                                         <label for="businessHours" class="col-form-label text-md-left fw-bold">予約時間</label>  
                                                         <div th:if="${#fields.hasErrors('businessHours')}" class="text-danger small mb-2" th:errors="*{businessHours}"></div>
                                                         <select class="form-control form-select" name="price" th:field="*{businessHours}">
			                                                 <option value="" hidden>選択してください</option> 
			                                                 <option value="0">0:00</option>
			                                                 <option value="1">1:00</option>
			                                                 <option value="2">2:00</option>
			                                                 <option value="3">3:00</option>
			                                                 <option value="4">4:00</option>
			                                                 <option value="5" >5:00</option>
			                                                 <option value="6" >6:00</option>
			                                                 <option value="7" >7:00</option>
			                                                 <option value="8" >8:00</option>
			                                                 <option value="9" >9:00</option>
			                                                 <option value="10" >10:00</option>
			                                                 <option value="11" >11:00</option>
			                                                 <option value="12" >12:00</option>
			                                                 <option value="13" >13:00</option>
			                                                 <option value="14" >14:00</option>
			                                                 <option value="15" >15:00</option>
			                                                 <option value="16" >16:00</option>
			                                                 <option value="17" >17:00</option>
			                                                 <option value="18" >18:00</option>
			                                                 <option value="19" >19:00</option>
			                                                 <option value="20" >20:00</option>
			                                                 <option value="21" >21:00</option>
			                                                 <option value="22" >22:00</option>
			                                                 <option value="23" >23:00</option>
			                                             </select>                                                                                                                  
                                                     </div>
                                                                                                          
                                                     <div class="form-group mb-4">                                            
                                                         <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">人数</label>  
                                                         <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                         <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                     </div>
                                                                                                         
                                                     <div class="form-group">
                                                         <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
                                                     </div>
                                                     <input type="hidden" name="topicPath" id="topicPath" th:value="${topicPath}">
                                                 </form>                                                                     
                                             </div>
                                         </div>  
                                     </div>  
                                                                                                               
                                 </div>                                                                                             
                             </div>
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         
         <!-- Flatpickr -->
         <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
         <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
         <script th:src="@{/js/flatpickr.js}"></script>  
   </body>
 </html>